<p id="notice"><%= notice %></p>
<h2 style='font-size: 26px;margin-bottom: 30px;color: #34ad00;font-weight: 700;'>New Pickup</h2>
<%= render 'form', pickup: @pickup %>
<br >
<h1 style='font-size: 26px;margin-bottom: 30px;color: #34ad00;font-weight: 700;'>Your Pickups</h1>

<table style="width:75%" >
  <thead>
    <tr>
      <th>User</th>
      <th>From</th>
      <th>To</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pickups.each do |pickup| %>
      <% if current_user.id == pickup.user_id%>
        <tr>
          <td><%= pickup.user.full_name %></td>
          <td><%= pickup.source.name %></td>
          <td><%= pickup.destination.name %></td>
          <td><%= pickup.time %></td>
          <td><%= link_to 'Show', pickup %></td>
          <td><%= link_to 'Edit', edit_pickup_path(pickup) %></td>
          <td><%= link_to 'Destroy', pickup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<%-#= link_to 'New Pickup', new_pickup_path -%>